<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cole Rapczynski</title>
</head>
<body>
<!-- Header Practice. -->
<h1>About me!</h1>
<h2>I am 21 years old.</h2>
<h2>I am a male.</h2>

<p>I attend the <em>Robert H. Smith School of Business.</em></p>
<p>I am an <strong>Information Systems</strong> major.</p>
<p>I am a <strong><em>Lifeguard</em></strong></p>

<!-- Creating an unordered list and ordered list. -->
<p>My Hobbies</p>
<ul>
    <li>Playing video games</li>
    <li>Hanging out with friends</li>
    <li>Watching sports</li>
</ul>

<p>My Favorite Sports Teams</p>
<ol>
    <li>Alabama Crimson Tide</li>
    <li>Baltimore Orioles</li>
    <li>Washington Commanders</li>
</ol>

<!-- Creating a table. -->
<table>
    <tr>
        <th>Course</th>
        <th>Semester</th>
    </tr>
    <tr>
        <td>BMGT302</td>
        <td>Spring 2025</td>
    </tr>
    <tr>
        <td>BMGT402</td>
        <td>Fall 2025</td>
    </tr>
        <tr>
        <td>BMGT403</td>
        <td>Fall 2025</td>
    </tr>
        <tr>
        <td>BMGT407</td>
        <td>Spring 2026</td>
    </tr>
</table>

<!-- Adding Hyperlinks -->
<p>A link to the <a href="/hello">hello page</a>.</p>
<p>A link to <a href="espn.com/" target="_blank">ESPN</a>.</p>
<p>A link to<a href="roblox.com/">Roblox</a>.</p>

<p>Here is a picture of the Smith logo.</p>

<img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
width="267" height="72" alt="Smith Logo">
</body>
</html>